
body{
  background:linear-gradient(320deg ,rgba(255,200,255,0.8),rgba(255,255,200,0.8));
  height: 100%;
}
header{
  display: flex;
    justify-content: space-around;
  width: 100%;
  padding: 10px;

}
header button{
  margin: 10px 0;
  width: 20%;
  height: 10vh;
  background:  radial-gradient(rgb(240, 240, 240),rgb(128,128,128));
  
    border-radius: 15%;
    font-size:  1em;
    font-weight: bold;
    color: rgb(0,0.,0);
}

main,main .colmun {
  position: relative;
    z-index: 5;
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
main{
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 90vw;
  margin: 10vw auto;
}  
main .colmun {
  flex-basis: 33%;
    z-index: 5;
  width: 100%;
}
main ul {
  flex-basis: 33%;

  display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2%;
      
  width: 100%;
  height: 100%;
  padding: 1%;
}
main li {
  position: relative;
  list-style: none;
  display: flex;
    justify-content: center;
    align-items: center;
  background: radial-gradient(rgb(200,255,255),rgb(100,240,240));
    border-radius: 5%;
  box-shadow: 1px 1px 5px  rgb(45, 115, 115); 
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  
}


.colmun>ul>li>.possible{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-top: solid rgb(210, 165, 100) 7px;
  border-left: solid rgba(200, 100, 100,0) 7px;

}


.select{
  z-index: 10;
  scale: 1.2;
  background: radial-gradient(rgb(200,255,255),rgb(108, 100, 255));

}
.selectLine{
  background: radial-gradient(rgb(200,255,255),rgb(100, 207, 240));

}

main .cross{
  position: absolute;
  z-index: 1;
  display: flex;
  top: -3%;
  left: -3%;
  width: 106%;
  height: 106%;

}
main .cross > div{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  display: flex;
    justify-content: space-around;
}
  main .cross .colmun {
    flex-direction: column;
    height: 95%;
  }
  main .cross .row {
    left: 0; right: 0;
    width: 95%;
  }
main .cross > div >div{
  display: flex;  
  justify-content: space-around;
}
  main .cross .colmun div{
    flex-direction: column;
    height: 32%;
  }
  main .cross .row div{
    width: 32%;
  }
main .cross > div>div>span{
  background-color: #333;
    height: 100%;
    width: 100%;
}
  main .cross .colmun div span{
    height: 2px;
  }
  main .cross .row div span{
    width: 2px;
  }
main .cross > div > div > .ok{
  background-color: red;

}
main >div >.ok {
  border: solid 2px red;
}


.inputOn,#numbar .numbar-row{
  display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;

}
main>.inputOff{
  display: none;
}
#numbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 50%;
  bottom: 0;
}
#numbar .numbar-row{
  flex:1 1 100%;
  background-color: blue;

}
#numbar .numbar-colmun{
  flex:1 1 20%;
  display: flex;
    justify-content: center;
    align-items: center;
  background:radial-gradient(rgb(255, 255, 255),rgb(255, 225, 77)) ;
    box-shadow: 1px 1px 5px  rgb(123, 137, 42);   
}

@media screen and (min-width :700px ) {
  body{
    display: flex;
      flex-direction: row-reverse;
      justify-content:center;
  }
  main{
    flex: 0 1 60vh;
    height: 60vh;
    margin: 10vw 3%;
  }
  header{
    flex: 0 1 30%;
    height: 30%;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 2%;
  }
  header button{
    width: 100%;
    height: 20%;
    border:  none;
    margin: 10px 0;
  }
  #numbar{
    display: none;
  }
}
